node_modules
.git
.gitignore
Dockerfile
docker-compose.yml
npm-debug.log*
.eslintcache
.vscode
.env
.idea
*.log
*.tsbuildinfo
coverage
.cache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.crt
*.key
uploads
tmp
*.swp
*.swo
*.bak
*.old
*.orig
data/fimwares
data/siteMeta.sample.json
docker-images