<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>



  <!-- <%- include('../partials/cms/meta.ejs') %> -->

  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css" />
  <link rel="stylesheet" href="../assets/setup.css" />

  <link rel="stylesheet" href="../assets/styles.css" />

  <link rel="stylesheet" href="../cms/styles/header-footer.css" />
  <link rel="stylesheet" href="../cms/styles/body.css" />
  <link rel="stylesheet" href="../cms/styles/login.css" />
</head>

<body>
  <!-- ----- ----- header ----- ------->
  <div class="header">
    <div class="header-contain d-flex justify-content-between">
      <div class="wrap-logo">
        <a href="/" target="_blank">
          <img src="../cms/images/index/home.png" alt="">
          <span>brand</span>
        </a>
      </div>
      <div class="profile-user relative">
        <a href="#" class="profile-btn my-dropdown-button" dropdown-menu-name="#profile">
          <span>admin</span>
          <img src="../cms/images/index/profile-user.png" alt="">
        </a>
        <div class="wrap-list list-style-1 d-none" id="profile">
          <ul>
            <!-- <li><a href="/auth/forgot-password">Đổi mật khẩu</a></li> -->
            <li><a href="/auth/sign-out">Đăng xuất</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <!-- ----- ----- header ----- ------->

  <!-- ----- ----- body ----- ------->
  <div class="body-contain d-flex">
    <!-- ----- ----- sidebar ----- ------->
    <div class="wrap-sidebar">
      <div class="sidebar">
        <ul>
          <li>
            <div class="line">
              <a href="#">tài khoản</a>
            </div>
          </li>
          <li>
            <div class="line active">
              <a href="#">
                <span>nội dung tĩnh</span>
              </a>
              <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#name1">
                <img class="arrow-down" src="/cms/images/index/arrow-down.png" alt="">
              </a>
            </div>
            <div class="wrap-child d-none" id="name1">
              <ul>
                <li class=""><a href="#">danh sách</a></li>
                <li><a href="#">thông báo</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="line">
              <a href="#">
                <span>bài viết</span>
              </a>
              <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#name2">
                <img class="arrow-down" src="/cms/images/index/arrow-down.png" alt="">
              </a>
            </div>
            <div class="wrap-child d-none" id="name2">
              <ul>
                <li><a href="#">danh sách</a></li>
                <li><a href="#">cài đặt hiển thị</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="line">
              <a href="#">Thư viện ảnh</a>
            </div>
          </li>
          <li>
            <div class="line">
              <a href="#">
                <span>sản phẩm</span>
              </a>
              <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#name4">
                <img class="arrow-down" src="/cms/images/index/arrow-down.png" alt="">
              </a>
            </div>
            <div class="wrap-child d-none" id="name4">
              <ul>
                <li><a href="#">danh mục sản phẩm</a></li>
                <li><a href="#">sản phẩm</a></li>
                <li><a href="#">cài đặt hiển thị</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="line">
              <a href="#">custom</a>
            </div>
          </li>

        </ul>


      </div>
    </div>
    <!-- ----- ----- sidebar ----- ------->

    <!-- ----- ----- main ----- ------->
    <div class="main">
      <div class="container modal-id ">
        <div class="gap-sm"></div>
        <div class="row justify-content-center">

          <div class="col-4">
            <div class="wrap-title">
              <div class="title">Thêm thiết bị vào nhóm</div>
            </div>
            <div class="my-form #form_id">
              <div class="wrap-my-form">
                <form action="">
                  <label for="template-device-group">Danh sách thiết bị</label>
                  <div class="gap-xs"></div>
                  <div class="wrap-input required">
                    <select name="template-device-group" id="template-device-group" class="w-100">
                      <option value="s1">mẫu 1</option>
                      <option value="s2" selected>mẫu 2</option>
                    </select>
                  </div>
                  <div class="submit">
                    <button class="submit-btn">Thêm</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div class="wrap-title">
              <div class="title">Danh sách thiết bị</div>
            </div>
            <div class="base-list update-order-group-list overflow-y-scroll">
              <div class="wrap-box">
                <ul class="sticky-header">
                  <li class="d-flex header-row">
                    <span>Stt</span>
                    <span class="device-name">Nhóm</span>
                    <span>Model</span>
                    <span>Di chuyển</span>
                    <span class="action">Hành động</span>
                  </li>
                </ul>
                <ul class="change-order change-order-1 " id="">
                  <li class="d-flex" deviceId="dev1">
                    <span>1</span>
                    <span class="device-name short-text">Ao số 1</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev2">
                    <span>2</span>
                    <span class="device-name short-text">Ao số 2</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev3">
                    <span>3</span>
                    <span class="device-name short-text">Ao số 3</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>


                  <li class="d-flex" deviceId="dev1">
                    <span>1</span>
                    <span class="device-name short-text">Ao số 1</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev2">
                    <span>2</span>
                    <span class="device-name short-text">Ao số 2</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev3">
                    <span>3</span>
                    <span class="device-name short-text">Ao số 3</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev1">
                    <span>1</span>
                    <span class="device-name short-text">Ao số 1</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev2">
                    <span>2</span>
                    <span class="device-name short-text">Ao số 2</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev3">
                    <span>3</span>
                    <span class="device-name short-text">Ao số 3</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev1">
                    <span>1</span>
                    <span class="device-name short-text">Ao số 1</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev2">
                    <span>2</span>
                    <span class="device-name short-text">Ao số 2</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex" deviceId="dev3">
                    <span>3</span>
                    <span class="device-name short-text">Ao số 3</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span class="move">
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-up">Lên<span class="icon icon-arrow-up">&#8679;</span></button>
                      </div>
                      <div class="wrap-moving-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" parentId="#change-order-1" class="primary-btn moving-btn move-down">Xuống<span class="icon icon-arrow-down">&#8681;</span></button>
                      </div>
                    </span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>





                </ul>
              </div>

            </div>
            <div class="update-order-group-submit text-center">
              <button value=".item-" class="submit-btn" onclick="submitChangeOrderForm('.change-order-1')">Lưu <span class="icon">&#9166;</span></button>
            </div>

          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-6">
            <div class="gap-md"></div>
            <div class="gap-md"></div>
            <div class="wrap-title">
              <div class="title">Chỉnh sửa thông tin</div>
            </div>
            <div class="my-form #form_id">
              <div class="wrap-my-form">
                <form action="">
                  <div class="wrap-input required">
                    <input type="text" required placeholder="Tên nhóm" class="w-100" value="tennhom">
                  </div>
                  <div class="wrap-input required">
                    <select name="template-device-group" id="template-device-group" class="w-50">
                      <option value="s1">mẫu 1</option>
                      <option value="s2" selected>mẫu 2</option>
                    </select>
                    <label for="template-device-group">Template</label>
                  </div>
                  <div class="wrap-input">
                    <input type="text" placeholder="Mô tả / Có thể để trống" class="w-100" value="tennhom">
                  </div>

                  <div class="wrap-input required">
                    <input type="text" placeholder="Chọn khu vực / Có thể để trống" class="w-100" value="tennhom">
                  </div>
                  <div class="submit">
                    <button class="submit-btn">Gửi</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="gap-md"></div>


      </div>
    </div>
    <!-- ----- ----- main ----- ------->
  </div>
  <!-- ----- ----- body ----- ------->

  <!-- Toast container -->
  <div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>
  <!-- footer -->
  <!-- <%- include('../partials/cms/footer.ejs') %> -->
  <!-- footer -->
</body>

<!-- /*-----*-----*-- lib-javascript --*-----*-----*/ -->

<!-- <script src="https://code.jquery.com/jquery-3.7.0.js"></script> -->

<script src="../assets/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/socket-client/index.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script> -->

<!-- /*-----*-----*-- my-script --*-----*-----*/ -->
<script src="../assets/function.js"></script>
<script src="../cms/scripts/refactor.js"></script>
<script src="../cms/scripts/func.js"></script>
<script src="../cms/scripts/main.js"></script>
<!-- <script src="/cms/scripts/handle-image.js"></script> -->
<!-- <script src="component/slider/script.js"></script> -->

</html>